[user]
	email = kamal@marhubi.com
	name = Kamal Marhubi
[push]
	default = simple

[alias]
	root = rev-parse --show-toplevel

# Inlucde local file; if not present git helpfully ignores it.
# Do this at the end to allow overriding defaults above.
[include]
	path = .gitconfig.local
