[user]
	email = kamal@marhubi.com
	name = Kamal Marhubi
[push]
	default = simple

[alias]
	# Print absolute path of repo root directory
	root = rev-parse --show-toplevel
	# Get to a detached HEAD state on purpose! Usage: `git detach [REF]`
	detach = !sh -c 'git checkout $(git rev-parse ${1:-HEAD})' --

# Inlucde local file; if not present git helpfully ignores it.
# Do this at the end to allow overriding defaults above.
[include]
	path = .gitconfig.local
